{% extends "base.html" %}
{% block title %}{{ legend }}{% endblock %}
{% block content %}
<h1>{{ legend }}</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.title.label }} {{ form.title(size=30) }}
        {% for error in form.title.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <div>
        {{ form.content.label }} {{ form.content(cols=30, rows=10) }}
        {% for error in form.content.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <button type="submit">Submit</button>
</form>
{% endblock %}
